.page-board-governors {
    picture[data-picture-align="left"], span[data-picture-align="left"], img[data-picture-align="left"] {
        float: left;
        padding-right: 1em;
    }
    picture[data-picture-align="right"], span[data-picture-align="right"], img[data-picture-align="right"] {
        float: right;
        padding-right: 1em;
    }
}
