#views-bootstrap-media-1 {
    .img-responsive {
        border-radius: 6px;
    }
}

.tagclouds-term {
    .badge {
        margin-left: 5px;
    }
} 
h4.media-heading {
    font-size: @font-size-h3;
}